/* ? убираем дефолтные внутренние и внешние отступы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ? задаем размеры и бэкграунд нашей страницы, linear-gradient задаст поверх картинки переход, засчет четвертого значения rgba делаем его полупрозрачным  */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1493809842364-78817add7ffb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-position: center;
}

/* ? меняем цвет заголовка */
h2 {
  color: white;
}

/* ? задаем ширину навбару и центруем его при помощи margin: auto */
.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex; /* ? чтобы расположить элементы в навбаре в одну линию */
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer; /* ? при наведении стрелка изменится на pointer*/
}

.navbar ul li {
  list-style: none; /*? убираем дефолтные стили списков  */
  margin: 0 20px;
  display: inline-block;
}
/* ? при наведении курсора добавляем нижнее подчеркивание элементам навигации */
.navbar ul li:hover {
  text-decoration: underline;
}

a {
  text-decoration: none; /*? убираем дефолтное подчеркивание */
  color: white;
  text-transform: uppercase;
}

/* ? центруем контент нашей страницы */
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

/* ? задаем стили заголовка */
.content h1 {
  font-size: 70px;
  margin-top: 80px;
}
.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

/* ? стилизуем кнопки и добавляем cursor pointer для того, чтобы при наведении у нас появл */
button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
}
/*?  добаляем кнопке эффект при наведении */
button:hover {
  background-color: #009688;
}
